<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .tablecont, .addcont{
            margin-top: 2em;
            margin-bottom: 2em;
        }
    </style>
  </head>

  <body>
<div class = "container">
<!-- start add course container -->
    <div class = "container addcont">
        <h1>Add a new Course</h1>
        <form action = "create" method = 'POST'>
            {%csrf_token%}
            <div class="form-group">
                <label >Course Name</label>
                <input name= "course_name" minlength =6 type="text" class="form-control" placeholder="Course Name">
            </div>
            <div class="form-group">
                <label >Description</label>
                <textarea name = "description"  minlength =16 class="form-control" rows="3" placeholder = "write stuff here"></textarea>
            </div>
                <button  type = "submit" class="btn btn-success" > Add</button>
        </form>            
    </div>

    
<!--  start courses table -->
    <div class = "container tablecont">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for x in course%} 
                    <tr> 
                        <td>{{x.name}}</td>
                        {%for y in description%}
                            {%if y.course_id == x.id%}
                            <td>{{y.text}}</td>
                            {%endif%}
                        {%endfor%}
                        <td>{{x.create_d}}</td>
                        <td><a href="/courses/destroy/{{x.id}}">Remove</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
    </div>
</div>


<p>***********************************************************************</p>

{#{course}}
{#{description.0.text}}
{#{description.0}}
{#{course.20}}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>